* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #00AAFF, #00FF6C);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(130px, auto) repeat(5, 100px);
}

.calculator-grid button {
    border: 1px solid white;
    font-size: 2rem;
}

.calculator-grid button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}
.calculator-grid button:active {

    transform: scale(0.95);
}
.output {
    background-color: rgba(0, 0, 0, 0.8);
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding-right: 20px;
    word-break: break-all;
}

.span-two {
    grid-column: span 2;
}

.previous-operand {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;

}

.current-operand {
    color: rgba(255, 255, 255, 0.9);
    font-size: 2.5rem;
}